asgiref==3.11.1
dj-database-url==3.1.2
# Django==6.0.2
Django==5.2.11
django-filter==25.2
django-stubs==5.2.9
django-stubs-ext==5.2.9
djangorestframework==3.16.1
djangorestframework-stubs==3.16.8
djangorestframework_simplejwt==5.5.1
gunicorn==25.1.0
packaging==26.0
psycopg2-binary==2.9.11
PyJWT==2.11.0
python-decouple==3.8
python-dotenv==1.2.1
sqlparse==0.5.5
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
